{% extends 'index.html' %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">Crear un Nuevo Curso</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre del Curso:</label>
                <input type="text" name="nombre" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="numero_comision" class="form-label">Número de Comisión:</label>
                <input type="text" name="numero_comision" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
{% endblock %}
